@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media screen and (min-width: 1200px) {
  .carousel-item {
    height: 80vh;
    object-fit: cover; } }

@media screen and (max-width: 768px) {
  .imgMsg {
    display: none; } }

@media screen and (max-width: 576px) {
  .modalArt__detalle--cantidad {
    display: none; } }

.navegacion {
  background: #020024;
  background: -moz-linear-gradient(48deg, #020024 2%, #eabf9f 98%);
  background: -webkit-linear-gradient(48deg, #020024 2%, #eabf9f 98%);
  background: linear-gradient(48deg, #020024 2%, #eabf9f 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#eabf9f",GradientType=1); }
  .navegacion__texto {
    color: white !important;
    text-shadow: 3px 3px 3px #ababab; }
    .navegacion__texto--link {
      text-shadow: 2px 2px 2px #ababab;
      transition: all 1s; }
      .navegacion__texto--link:hover {
        color: black !important;
        font-size: 1.05rem; }
    .navegacion__texto--subLink {
      text-shadow: 2px 2px 2px #ababab; }
      .navegacion__texto--subLink:hover {
        color: black !important; }
  .navegacion__subList {
    background-color: black; }
  .navegacion__subMenu:hover .navegacion__subList {
    display: block; }
  .navegacion__carro {
    background-color: transparent;
    font-size: 20px;
    border: none; }
    .navegacion__carro:hover {
      background-color: transparent;
      color: black; }

.despliega {
  border-radius: 3%;
  text-align: center; }
  .despliega__cuerpo {
    background-color: #BDA388;
    color: white;
    text-transform: uppercase; }
  .despliega__img {
    width: 100px;
    padding-top: 18rem; }
  .despliega__texto {
    text-transform: uppercase;
    padding-top: 1rem; }

/*Hero video*/
.hero {
  position: relative;
  opacity: 0.9; }
  .hero__video {
    height: 100vh;
    width: 100%;
    background-position: absolute;
    object-fit: cover; }

/*Carousel hero*/
.carrousel__img {
  width: 100%;
  object-fit: cover; }

/*Articulos*/
.articulo {
  margin-top: 1.5em;
  padding: 1.5em 0.5em 0.5em;
  border-radius: 1em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform .3s; }
  .articulo:hover {
    transform: translateY(5px);
    cursor: pointer; }
  .articulo__descripcion {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase; }
    .articulo__descripcion--marca {
      font-size: 15px;
      color: gray; }
    .articulo__descripcion--precio {
      font-size: 20px; }
  .articulo__btn {
    color: white;
    background-color: #BDA388;
    border: 1px solid #BDA388;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1rem; }
    .articulo__btn:hover {
      background-color: white;
      border: 1px solid #BDA388;
      color: black; }

/*Modal*/
.modalArt__header {
  background-color: #BDA388; }

.modalArt__detalle {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase; }
  .modalArt__detalle--marca {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: 800;
    color: gray; }
  .modalArt__detalle--precio {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 800; }
  .modalArt__detalle--cantidad {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    font-weight: 400; }
  .modalArt__detalle--numero {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase; }

.modal-backdrop {
  z-index: 1040 !important; }

.CarrouselProd__img {
  width: 100%;
  object-fit: cover;
  cursor: pointer; }

.modalGallery {
  width: 100%; }
  .modalGallery__img {
    width: 100%; }

.prodInf__marca {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  color: gray; }

.prodInf__fragancia {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase; }

.prodInf__precio {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: 800;
  color: #886E6C; }

.prodInf__medida, .prodInf__cantidad {
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  text-transform: uppercase; }

.prodInf__separa {
  margin-bottom: 1rem; }
  .prodInf__separa--segunda {
    padding: 0.5rem;
    margin-top: 1rem; }

.prodInf__descripcion {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase; }

.prodInf__detalle {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

.prodInf__btn {
  color: white;
  background-color: #BDA388;
  border: 1px solid #BDA388;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 1rem; }
  .prodInf__btn:hover {
    background-color: white;
    border: 1px solid #BDA388;
    color: black; }

.prodRelacionados {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase; }
  .prodRelacionados__btn {
    color: white;
    background-color: #BDA388;
    border: 1px solid #BDA388;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1rem; }
    .prodRelacionados__btn:hover {
      background-color: white;
      border: 1px solid #BDA388;
      color: black; }

.formulario__btn {
  color: white;
  background-color: #BDA388;
  border: 1px solid #BDA388;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 1rem; }
  .formulario__btn:hover {
    background-color: white;
    border: 1px solid #BDA388;
    color: black; }

.modalGallery {
  width: 100%; }
  .modalGallery__img {
    width: 100%; }

.us__titulo {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 1.5rem; }
  .us__titulo--texto {
    font-size: 1rem;
    font-weight: 400; }

/*pie de pagina*/
.pie__face {
  background-color: #3b5998;
  border: none; }
  .pie__face:hover {
    background-color: gray; }

.pie__insta {
  background-color: #ac2bac;
  border: none; }
  .pie__insta:hover {
    background-color: gray; }

.pie__twit {
  background-color: #55acee;
  border: none; }
  .pie__twit:hover {
    background-color: gray; }

.pie__whats {
  background-color: #075E54;
  border: none; }
  .pie__whats:hover {
    background-color: gray; }

.pie__texto {
  background: #010008;
  background: -moz-linear-gradient(357deg, #010008 13%, #eabf9f 91%);
  background: -webkit-linear-gradient(357deg, #010008 13%, #eabf9f 91%);
  background: linear-gradient(357deg, #010008 13%, #eabf9f 91%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010008",endColorstr="#eabf9f",GradientType=1); }

/*404 Not Found*/
.error {
  padding: 40px 15px;
  text-align: center; }
  .error__actions {
    margin-top: 15px;
    margin-bottom: 15px; }
  .error__btn {
    color: white;
    background-color: #BDA388;
    border: 1px solid #BDA388;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1rem; }
    .error__btn:hover {
      background-color: white;
      border: 1px solid #BDA388;
      color: black; }
