/*Articulos*/

.articulo{
    margin-top: 1.5em;
    padding: 1.5em 0.5em 0.5em;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0 5px 10px $bordecaja;
    transition: transform .3s;
    &:hover{
        transform: translateY(5px);
        cursor: pointer;
    }
    
    &__btn{
        @include botones;
        &:hover{
            @include hoverbtn;
        }
        
    }
}
