/*Articulos*/

.articulo{
    margin-top: 1.5em;
    padding: 1.5em 0.5em 0.5em;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0 5px 10px $bordecaja;
    transition: transform .3s;
    &:hover{
        transform: translateY(5px);
        cursor: pointer;
    }
    &__descripcion{
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;        
        &--marca{
            font-size: 15px;
            color: gray;
        }
        &--precio{
            font-size: 20px;
        }
    }




    &__btn{
        @include botones;
        &:hover{
            @include hoverbtn;
        }
        
    }

    
}

/*Modal*/
.modalArt{
    &__header{
        background-color: #BDA388;        
    }
    &__detalle{
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        
        &--marca{
            font-family: 'Roboto Slab', serif;
            font-size: 15px;
            font-weight: 800;            
            color: $gris;
        }
        &--precio{
            font-family: 'Roboto Slab', serif;
            font-size: 25px;
            font-weight: 800;           
        }
        &--cantidad{
            font-family: 'Roboto Slab', serif;
            font-size: 12px;
            font-weight: 400;            
        }
        &--numero{
            font-family: 'Roboto Slab', serif;
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
        }   

    }


}

.modal-backdrop {
    z-index: 1040 !important;
}