/*pie de pagina*/
.pie{
    

    &__face{
        background-color: $facebook;
        border: none;
        &:hover{
            background-color: $gris;
        }
    }
    
    &__insta{
        background-color: $instagram;
        border: none;
        &:hover{
            background-color: $gris;
        }
    }
    
    &__twit{
        background-color: $twitter;
        border: none;
        &:hover{
            background-color: $gris;
        }
    }
    
    &__whats{
        background-color: $whatsapp;
        border: none;
        &:hover{
            background-color: $gris;
        }
    }
    &__texto{
        background: rgb(1,0,8);
        background: -moz-linear-gradient(357deg, rgba(1,0,8,1) 13%, rgba(234,191,159,1) 91%);
        background: -webkit-linear-gradient(357deg, rgba(1,0,8,1) 13%, rgba(234,191,159,1) 91%);
        background: linear-gradient(357deg, rgba(1,0,8,1) 13%, rgba(234,191,159,1) 91%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010008",endColorstr="#eabf9f",GradientType=1); 
    }
}