.formulario{

    &__btn{
        color: $blanco;
        background-color: $boton;
        border: 1px solid $boton;
        
        &:hover{
            background-color: $blanco;
            border: 1px solid $boton;
            color: black;
            
        
        }
    }

   
}