@media screen and (min-width:1200px) {
    .carrousel-item{
        height: 80vh;
        object-fit: cover;
    }
    
    
}

@media screen and (max-width:768px) {
    .imgMsg{
        display: none;
    }
    
    
}
