.navegacion{
    background: rgb(2,0,36);
    background: -moz-linear-gradient(48deg, rgba(2,0,36,1) 2%, rgba(234,191,159,1) 98%);
    background: -webkit-linear-gradient(48deg, rgba(2,0,36,1) 2%, rgba(234,191,159,1) 98%);
    background: linear-gradient(48deg, rgba(2,0,36,1) 2%, rgba(234,191,159,1) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#eabf9f",GradientType=1); 

    &__texto{

        color: $blanco !important;
        text-shadow: 3px 3px 3px $sombraletra;
        
        &--link{
            text-shadow: 2px 2px 2px $sombraletra;
            transition: all 1s;

            &:hover{
                color: $negro !important;
                font-size: 1.05rem;    
            }   
        }

        &--subLink{
            text-shadow: 2px 2px 2px $sombraletra;
            &:hover{
                color: $negro !important;  
            }   
        }
    }

    &__subList{
        background-color: $negro;
    }

    
    &__subMenu:hover &__subList{
        display: block;
    
    }

    &__carro{
        background-color: transparent;
        font-size: 20px;
        border: none;
        
        
        &:hover{
            background-color: transparent;
            color: $negro;
        }
    }
}


.despliega{
    border-radius: 3%;
    text-align: center;
    
    &__cuerpo{
        background-color:$boton;
        color: $blanco;
        text-transform: uppercase;
        
    }
    &__texto{
        text-transform: uppercase;
        padding-top: 20rem;
    }
}