.articulos {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    align-items: center;
    justify-content: center;

    @include exlarge{
        grid-template-columns: repeat(4, 1fr);
    }

    @include large{
        grid-template-columns: repeat(3, 1fr);
    }

    @include tablet{
        grid-template-columns: repeat(auto-fit, 30rem); 
    }
    
    &__caja{
        border: none;
        box-shadow: 3px 3px 6px 0px $bordecaja;
        border-radius: 10px;
        text-align: center;
        transition: transform .3s;
        &:hover{
            transform: translateY(5px);
            cursor: pointer;
        }
    }
    &__img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    &__texto{
        text-transform: uppercase;
    }
    &__texto--color{
        color: $precio;
    }
    &__texto--precio{
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: 700;
    }
    &__boton{
        width: 100%;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        color:$blanco;
        padding: 1rem;
        background-color: $botonart;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

}