.contacto{
    min-height: 85vh;
    margin: 1rem;
    
    &__texto--h2{
        font-weight: 700;
        padding: 10px;
    }
    
    &__texto--h3{
        font-weight: 700;
        padding: 10px;
    }
    
    
    &__field{
        border-radius: 10px;
        width: 50%;
        padding:1rem;
        margin:1rem;
    }
    
    
    &__btn {
        background-color: $botonart; 
        border: none;
        border-radius: 5px;
        color: white;
        padding: 10px 25px;
        margin-left: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        
    }
    
    &__btn:hover{
        background-color: $blanco;
        border: 2px solid $botonart;
        color: $negro;
        
    }

}