@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

.contenedorPrincipal {
  max-width: 1920px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr auto;
      grid-template-rows: auto auto 1fr auto;
}

.top {
  background-color: #d6af90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top__logo {
  font-family: "Gemunu Libre", sans-serif;
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
}

@media screen and (max-width: 992px) {
  .top__logo {
    text-align: center;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  padding: 15px 10px;
  position: relative;
}

@media screen and (max-width: 992px) {
  .nav__item {
    padding: 15px 1px;
  }
}

.nav__link {
  text-decoration: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 600;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.nav__link:hover {
  color: black;
  font-size: 1.1rem;
}

.nav__link--color:hover {
  color: bisque;
}

@media screen and (max-width: 992px) {
  .nav__link {
    padding: 0;
    margin: 3px;
  }
}

.nav__subMenu {
  display: none;
  width: 100%;
  z-index: 2;
}

.nav__item:hover .nav__subMenu {
  display: block;
  position: absolute;
  background-color: black;
  margin-top: 10px;
}

.nav__item:hover .nav__subList {
  display: block;
}

.hero {
  width: 100%;
  height: auto;
  z-index: 1;
}

.hero__video {
  width: 100%;
}

.articulos {
  margin: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1200px) {
  .articulos {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .articulos {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .articulos {
    -ms-grid-columns: (30rem)[auto-fit];
        grid-template-columns: repeat(auto-fit, 30rem);
  }
}

.articulos__caja {
  border: none;
  -webkit-box-shadow: 3px 3px 6px 0px gray;
          box-shadow: 3px 3px 6px 0px gray;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.articulos__caja:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  cursor: pointer;
}

.articulos__img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.articulos__texto {
  text-transform: uppercase;
}

.articulos__texto--color {
  color: rgba(54, 54, 54, 0.705);
}

.articulos__texto--precio {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

.articulos__boton {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background-color: #BDA388;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contacto {
  min-height: 85vh;
  margin: 1rem;
}

.contacto__texto--h2 {
  font-weight: 700;
  padding: 10px;
}

.contacto__texto--h3 {
  font-weight: 700;
  padding: 10px;
}

.contacto__field {
  border-radius: 10px;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
}

.contacto__btn {
  background-color: #BDA388;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 25px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

.contacto__btn:hover {
  background-color: white;
  border: 2px solid #BDA388;
  color: black;
}

.nosotros {
  min-height: 83vh;
  margin: 2rem;
  text-align: center;
}

.nosotros__p {
  margin-top: 1rem;
}

.pie {
  background-color: #867066;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1rem;
}

@media screen and (max-width: 992px) {
  .pie {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pie__texto {
  font-weight: 200;
  color: white;
}

.pie__ico {
  color: #cfcfcf;
  font-size: 25px;
  padding: 3px;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .pie__redes {
    padding-bottom: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */